---

---

<body>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>

   <h1>Moja strona blogowa</h1>
    <h2>... tutorial Astro!</h2>

  <p>
    Treści o mnie
  </p>

  <p>
    i kolejne treści o mnie
  </p>
</body>
